
li{
    float:left;
    text-align: center;
    padding:15px 14px;
    font-weight:bold;
}

.first{
    width:300px;
    text-align: left;
}

ul {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
  }

#mid{
width:150px;
text-align:left ;
    

}

article{
    text-align: center;
    margin:0 auto;
    clear: both;
    size: 500px 500px;
    
}

article h1{
    padding-top: 100px;
    font-size: 2em;
    padding-top: 100px;

}

.transbutton{
    display: block;
    border-radius: 20px;
    background-color: transparent;
    border: 5px solid black;
    float:left;
    width:180px;
    height: 40px;
    line-height: 40px;
    margin-right: 20px;
    text-transform: uppercase;
    
}

.center{
    display : block;
    margin: 0 auto;
    width:600px;
    padding-left: 200px;
    padding-top: 500px;
}
.transbutton:hover{
    background-color:grey;
    color: white;
}

#car1{
    background-image: url("M3-Homepage-D.jpg");
    background-position:center;
    border-image-width:10px ;
    height: 800px;
    width:1260px;
}
#car4{
    background-image: url("Desktop-ModelY.jpg");
    background-position:center;
    border-image-width:10px ;
    height: 800px;
    width:1260px;
}
#car2{
    background-image: url("ms-homepage-desktop.jpg");
    background-position:center;
    border-image-width:10px ;
    height: 800px;
    width:1260px;
}
#car3{
    background-image: url("ModelX-Homepage-D.jpg");
    background-position:center;
    border-image-width:10px ;
    height: 800px;
    width:1260px;
}
#panel{
    background-image: url("_25-HP-SolarPanels-D.jpg");
    background-position:center;
    border-image-width:10px ;
    height: 800px;
    width:1260px;
}
#roof{
    background-image: url("HP-SR-Design-D.jpg");
    background-position:center;
    height: 800px;
    width:1260px;
}